section.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

.about blockquote {
  text-align: center;
}

.about h1,
.about h2,
.about h3,
.about h4 {
  font-family: 'Handlee', cursive;
  padding: 0.5em 0;
}

.about p {
  line-height: 1.6;
  padding: 0.25em 0;
}

.about p code {
  background-color: rgba(0, 0, 0, 0.2);
}

.about pre {
  padding: 0.5em 0;
}

.about ol {
  margin: 1em 0 1em 1.5em;
}

.about ol li,
.about ul li {
  line-height: 1.6;
  margin-bottom: 0.1em;
}