* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  margin: auto;
  max-width: 900px;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header,
nav,
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1,
header h4 {
  margin-bottom: 0.25em;
}

img {
  margin-bottom: 1em;
}

nav {
  margin: 1em 0;
}
nav ul li {
  margin-bottom: 0.25em;
}

nav,
footer {
  text-align: center;
}

hr {
  margin: 0.5em 0;
  opacity: 0.5;
  width: 80%;
}

footer {
  font-size: 0.8em;
  opacity: 0.7;
}

footer a {
  opacity: 1;
}

a {
  color: rgba(15, 103, 255, 0.6);
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:visited {
  color: rgba(15, 103, 255, 0.6);
}
a:hover {
  color: rgba(15, 103, 255, 1);
}

h1, h2, h3, h4, h5, h6 {
  opacity: 0.8;
}

ul {
  list-style: none;
}

.wrapper {
  margin: 2em 0;
}

.wrapper hr {
  margin-left: auto;
  margin-right: auto;
}

main h1 {
  font-family: 'Handlee', cursive;
  text-align: center;
}

.hide {
  display: none;
}