
.social-icon {
  fill: #ed8c72;
  height: 40px;
  width: 40px;
}

.icon--ei-retweet {
  fill: #55acee;
}
.icon--ei-sc-github:hover {
  fill: #000000;
}
.icon--ei-sc-instagram:hover {
  fill: #ff7f00;
}
.icon--ei-sc-linkedin:hover {
  fill: #0976b4;
}
.icon--ei-sc-twitter:hover {
  fill: #55acee;
}
.icon--ei-sc-youtube:hover {
  fill: #e52d27;
}