nav.paginator {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

p.paginator-pages {
  color: #2e2d2e;
  font-family: 'Handlee', cursive;
  font-size: 1.2em;
  font-weight: 600;
}

.disabled {
  opacity: 0.5;
}