section.portfolio {
  margin: 2em;
}

ul.grid {
  display: grid;
  grid-auto-rows: minmax(200px, 1fr);
  grid-gap: 0.75em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.side {
  backface-visibility: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.front {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.tech {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

img.tech-icon {
  height: 50px;
  padding: 0 0.25em;
  width: 50px;
}

.back {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.back p {
  flex: 3;
  text-align: center;
}

.card-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding-top: 0.75em;
}

a.card-link {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  letter-spacing: 2px;
  padding: 0.5em 0.75em;
  text-align: center;
  width: 80px;
}

@media (min-width: 900px) {
  ul.grid li:last-child {
    grid-column: 2/3;
  }
}