div.responsive-video {
  height: 0;
  margin: 1em 0;
	padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
}

div.responsive-video iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}