div.responsive-video {
  height: 0;
  margin: 1em 0;
	padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
}

div.responsive-video iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.marketing {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 1.2em 0;
}

a.brand-link {
  animation: breath 2s linear infinite;
  border-radius: 50px;
  color: rgba(41, 136, 188, 1);
  display: flex;
  flex-direction: column;
  font-family: 'Handlee', cursive;
  font-size: 1.5em;
  font-weight: 900;
  justify-content: center;
  height: 50px;
  letter-spacing: 2px;
  width: 150px;
  text-align: center;
  transform: scale(0.9);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a.brand-link:hover {
  animation: breath-deeper 3s linear infinite;
  transform: scale(1);
}

@keyframes breath {
  0% {
    background-color: rgba(244, 234, 222, 0.7);
    box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2);
  }
  50% {
    background-color: rgba(244, 234, 222, 1);
    box-shadow: 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 18px rgba(237, 140, 114, 0.2);
  }
  100% {
    background-color: rgba(244, 234, 222, 0.7);
    box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2);
  }
}

@keyframes breath-deeper {
  0% {
    background-color: rgba(255, 199, 56, 0.5);
    box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
  }
  50% {
    background-color: rgba(255, 199, 56, 1);
    box-shadow: 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 18px rgba(237, 140, 114, 0.2), 0 0 3px 24px rgba(237, 140, 114, 0.2), 0 0 3px 30px rgba(237, 140, 114, 0.2);
  }
  100% {
    background-color: rgba(255, 199, 56, 0.5);
    box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
  }
}

@media (max-width: 425px) {
  div.marketing {
    justify-content: space-between;
  }
  a.brand-link {
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 0px;
    width: 120px;
  }
}