<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }} itemscope itemtype="{{ if or (eq .Page.Type "post") (eq .Page.URL "/about/")}}http://schema.org/Article{{ else }}http://schema.org/WebPage{{ end }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  {{ partial "meta.html" . }}
</head>
<body>
  <div class="wrapper" itemprop="mainContentOfPage">
    <main>
      {{ if and (ne .Page.Type "tags") (ne .Page.Title "Cody Rocks!") }}
        <h1>{{ .Title }}</h1>
      {{ end }}
      {{ block "main" . }} {{ end }}
    </main>
    {{ partial "navigation.html" . }}
    <hr>
    {{ partialCached "footer.html" . }}
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>