{{ define "main" }}
<article class="post">
  <header class="post-heading">
    <div class="headline">
    <h2>
      {{ .Date.Format "Jan 2, 2006" }}
    </h2>
    <h2>
      {{ if lt 1 .WordCount }}
        {{ .WordCount }} words
      {{ else }}
        {{ .WordCount }} word
      {{ end }}
      · {{ if eq 1 .ReadingTime }}
        {{ .ReadingTime }} minute read
      {{ else }}
        {{ .ReadingTime }} minutes read
      {{ end }}
    </h2>
    <div class="tag-container">
      <div data-icon="ei-tag" data-size="s"></div>
      <span class="post-tags">
        {{ with .Params.tags }}
          {{ if ge (len .) 1 }}
              {{ range . }}
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
              {{ end }}
          {{ end }}
        {{ end}}
      </span>
    </div>
    </div>
  </header>
  {{ if .Params.onMedium}}
    <hr>
    <div class="extra">
      Read the article on <a href="{{ .Params.mediumUrl }}">Medium.</a>
    </div>
  {{ end }}
  <hr>
  <div class="post-body" itemprop="articleBody">
    {{ .Content }}
  </div>
  {{ partialCached "share.html" . }}
</article>
{{ end }}