<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<title>{{ .Title }}</title>
<meta name="author" content="{{ .Params.author }}">
<meta name="description" content="{{ .Params.description }}">
<meta name="robots" content="index,follow,archive">
<meta name="googlebot" content="all">
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ if .Params.evil }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/evil-icons/1.9.0/evil-icons.min.css">
{{ end }}
{{ if .Params.highlight }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/rainbow.min.css">
{{ end }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Handlee|Raleway">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">