<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
{{- if eq .Page.Type "tags" -}}
<title>Tags: {{ .Title }}</title>
{{- else -}}
<title>{{ .Title }}</title>
{{- end -}}
<meta name="author" content="{{ .Params.author }}">
<meta name="description" content="{{ .Params.description }}">
<meta name="keywords" content="Cody Brunner, Full-Stack JavaScript Developer, Wichita, web-development, tech blog, Node.js, React.js">
<meta name="robots" content="index,follow,archive">
<meta name="googlebot" content="all">
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
<meta name="msapplication-config" content="{{ .Site.BaseURL }}browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta name="google-site-verification" content="_P5Sbjg9dhez__QV3U70R-ydZn6ssT6qz5_nL0ZBzlE" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Handlee|Raleway">
{{- if .Params.highlight -}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ .Site.Params.highlightTheme }}.min.css">
{{- end -}}
{{- if not .Site.BuildDrafts -}}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}bundle.{{ .Site.Params.hash.bundleCSS }}.min.css">
{{- else -}}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}bundle.css">
{{- end -}}