<nav itemprop="breadcrumb">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if and ($currentPage.IsHome) (eq .Identifier "home")}}
        <li><a class="hide" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ else if and (eq $currentPage.URL "/about/") (eq .Identifier "about")}}
        <li><a class="hide" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ else if and (eq $currentPage.URL "/posts/") (eq .Identifier "blog")}}
        <li><a class="hide" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ else if and (eq $currentPage.URL "/portfolio/") (eq .Identifier "portfolio")}}
        <li><a class="hide" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ else if and (eq $currentPage.URL "/certs/") (eq .Identifier "certifications")}}
        <li><a class="hide" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ else }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</nav>