{{ template "_internal/google_analytics_async.html" . }}
{{ if .Params.evil }}
<script src="{{ .Site.BaseURL }}js/custom-evilicons.min.js" type="text/javascript"></script>
{{ end }}
{{ if .Params.cloud }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.tagcloud.js" type="text/javascript"></script>
<script src="{{ .Site.BaseURL }}js/tagcloud.js" type="text/javascript"></script>
{{ else if .Params.flip}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.1.2/jquery.flip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.9/jquery.mobile-events.min.js"></script>
<script src="{{ .Site.BaseURL }}js/flipcard.js" type="text/javascript"></script>
{{ end }}
{{ if .Params.highlight }}
  <script src="{{ .Site.BaseURL }}js/custom-highlight.min.js" type="text/javascript"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}