<div class="share">
  {{ range .Params.share }}
    <p>{{ . | markdownify }}</p>
  {{ end }}
  <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436'); return false;">
    <div data-icon="ei-sc-facebook" data-size="m"></div>
  </a>
  <a href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .Title }} by @{{ .Site.Social.twitter }}">
    <div data-icon="ei-retweet" data-size="m"></div>
  </a>
</div>