/*
  Styles minified by cleancss-cli.
  REVIEW: need to figure out how to use 'webpack' to handle this.
  Problem I see is none of this CSS is being imported into any of
  the "bundled" JS. If I can pull it off I can minify and use
  autoprefixer as well all in one shot.
*/

/* Defaults */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #f4eade;
  color: #2f496e;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  margin: auto;
  max-width: 900px;
  min-height: 100vh;
  overflow-x: hidden;
}
body,
header,
nav,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header,
nav,
footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1,
header h4,
nav ul li {
  margin-bottom: 0.25em;
}
img {
  margin-bottom: 1em;
}
header blockquote {
  background-color: rgba(41, 136, 188, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(47, 73, 110, 1);
  opacity: 0.8;
  padding: 0.5em;
  margin: 1em 0;
  text-align: center;
  width: 65%;
}
header blockquote p {
  line-height: 1.5;
}
nav {
  margin: 1em 0;
}
nav,
footer {
  text-align: center;
}
hr {
  margin: 0.5em 0;
  opacity: 0.5;
  width: 80%;
}
footer {
  font-size: 0.8em;
  opacity: 0.7;
}
footer a {
  opacity: 1;
}
a {
  color: #ed8c72;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:visited {
  color: #ed8c72;
}
a:hover {
  color: #2988bc;
}
ul {
  list-style: none;
}
.wrapper {
  margin: 2em 0;
}
.wrapper hr {
  margin-left: auto;
  margin-right: auto;
}
main h1 {
  font-family: 'Handlee', cursive;
  text-align: center;
}
.hide {
  display: none;
}
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 2em;
}
@media (orientation: landscape) {
  header blockquote {
    width: 50%;
  }
}
@media (min-width: 600px) {
  header blockquote {
    width: 30%;
  }
}
/* ================================ */
/* =============ICONS============== */
/* ================================ */
.social-icon {
  fill: #ed8c72;
  height: 40px;
  width: 40px;
}
.icon--ei-retweet {
  fill: #55acee;
}
.icon--ei-sc-github:hover {
  fill: #000000;
}
.icon--ei-sc-instagram:hover {
  fill: #55acee;
}
.icon--ei-sc-linkedin:hover {
  fill: #0976b4;
}
.icon--ei-sc-twitter:hover {
  fill: #55acee;
}
.icon--ei-sc-youtube:hover {
  fill: #e52d27;
}
/* ================================ */
/* =============ABOUT============== */
/* ================================ */
.about blockquote {
  text-align: center;
}
.about h1,
.about h2,
.about h3,
.about h4 {
  font-family: 'Handlee', cursive;
  padding: 0.5em 0;
}
.about p {
  line-height: 1.6;
  padding: 0.25em 0;
}
.about pre {
  padding: 0.5em 0;
}
.about ol {
  margin: 1em 0 1em 1.5em;
}
.about ol li,
.about ul li {
  line-height: 1.6;
  margin-bottom: 0.1em;
}
/* ================================ */
/* =============POSTS============== */
/* ================================ */
.post-item {
  background-color: rgba(237, 140, 114, 0.5);
  -webkit-box-shadow: 10px 10px 10px rgba(47, 73, 110, 0.7);
          box-shadow: 10px 10px 10px rgba(47, 73, 110, 0.7);
  margin-bottom: 0.5em;
  padding: 1em;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.post-item:hover {
  -webkit-box-shadow: 2px 2px 2px rgba(47, 73, 110, 0.7);
          box-shadow: 2px 2px 2px rgba(47, 73, 110, 0.7);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.post-item-header {
  color: #2f496e;
  font-family: 'Handlee', cursive;
}
.post-item-content {
  color: rgba(47, 73, 110, 0.7);
}
/* ================================ */
/* =============POST=============== */
/* ================================ */
article.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2em;
}
.post > hr {
  width: 100%;
}
.post-heading,
.extra {
  text-align: center;
}
.headline {
  padding: 0.25em 0 1em 0;
}
.headline h2 {
  font-size: 1em;
}
.tag-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.post-tags {
  font-size: 0.9em;
}
.post-body {
  padding-top: 1em;
}
.post-body blockquote {
  text-align: center;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4 {
  font-family: 'Handlee', cursive;
  padding: 0.5em 0;
}
.post-body p {
  line-height: 1.6;
  padding: 0.25em 0;
}
.post-body pre {
  padding: 0.5em 0;
}
.post-body ol {
  margin: 1em 0 1em 1.5em;
}
.post-body ol li,
.post-body ul li {
  line-height: 1.6;
  margin-bottom: 0.1em;
}
.post-body p:last-of-type {
  text-align: center;
}
/* ================================ */
/* ==========PAGINATION============ */
/* ================================ */
.paginator {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}
p.paginator-pages {
  font-family: 'Handlee', cursive;
  font-size: 1.2em;
  font-weight: 600;
}
.disabled {
  opacity: 0.5;
}
/* ================================ */
/* =============TAGS=============== */
/* ================================ */
.tags {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post-link {
  padding: 0 0.25em;
}
.post-link:hover {
  background-color: rgba(47, 73, 110, 0.2);
}
.post-link a {
  color: #2f496e;
}
.post-link a:hover {
  color: #2988bc;
}
.tagged-post {
  padding: 0.5em 0;
}
.post-date {
  margin-bottom: 0.25em;
}
.tag-cloud {
  display: block;
  margin: 2em auto;
  text-align: center;
  width: 80%;
}
@media (orientation: landscape) {
  .tags {
    margin: 1em 0.5em;
  }
  .tags ul {
    width: 70%;
  }
  .tagged-post {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tag-cloud {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .tag-cloud {
    width: 60%;
  }
}
/* ================================ */
/* ===========PORTFOLIO============ */
/* ================================ */
.portfolio {
  margin: 2em;
}
ul.grid {
  display: grid;
  grid-auto-rows: minmax(200px, 1fr);
  grid-gap: 0.75em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 10px 10px 20px rgba(47, 73, 110, 0.5);
          box-shadow: 10px 10px 20px rgba(47, 73, 110, 0.5);
  overflow: hidden;
}
.front {
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(237, 140, 114, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}
img.tech-icon {
  height: 50px;
  padding: 0 0.25em;
  width: 50px;
}
.back {
  background-color: rgba(41, 136, 188, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}
.back p {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
}
.card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 0.75em;
}
a.card-link {
  background-color: rgba(244, 234, 222, 0.7);
  border-radius: 10px;
  color: #2988bc;
  letter-spacing: 2px;
  padding: 0.5em 0.75em;
  text-align: center;
  width: 80px;
}
@media (min-width: 900px) {
  ul.grid li:last-child {
    grid-column: 2/3;
  }
}
/* ================================ */
/* =============CERTS============== */
/* ================================ */
.certs {
  margin: 2em 1em;
}
li.cert-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
img.cert-img {
  -webkit-box-shadow: 10px 10px 20px rgba(47, 73, 110, 0.5);
          box-shadow: 10px 10px 20px rgba(47, 73, 110, 0.5);
  margin-bottom: 0;
}
/* ================================ */
/* ===========SHORTCODES=========== */
/* ================================ */
.responsive-video {
  height: 0;
  margin: 1em 0;
	padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
}
.responsive-video iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.marketing {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.2em 0;
}
a.brand-link {
  -webkit-animation: breath 2s linear infinite;
          animation: breath 2s linear infinite;
  border-radius: 50px;
  color: rgba(41, 136, 188, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Handlee', cursive;
  font-size: 1.5em;
  font-weight: 900;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  letter-spacing: 2px;
  width: 150px;
  text-align: center;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
a.brand-link:hover {
  -webkit-animation: breath-deeper 3s linear infinite;
          animation: breath-deeper 3s linear infinite;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
@-webkit-keyframes breath {
  0% {
    background-color: rgba(244, 234, 222, 0.7);
    -webkit-box-shadow: 0 0 3px 3px rgba(41, 136, 188, 0.2), 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 9px rgba(41, 136, 188, 0.2);
            box-shadow: 0 0 3px 3px rgba(41, 136, 188, 0.2), 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 9px rgba(41, 136, 188, 0.2);
  }
  50% {
    background-color: rgba(244, 234, 222, 1);
    -webkit-box-shadow: 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 12px rgba(41, 136, 188, 0.2), 0 0 3px 18px rgba(41, 136, 188, 0.2);
            box-shadow: 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 12px rgba(41, 136, 188, 0.2), 0 0 3px 18px rgba(41, 136, 188, 0.2);
  }
  100% {
    background-color: rgba(244, 234, 222, 0.7);
    -webkit-box-shadow: 0 0 3px 3px rgba(41, 136, 188, 0.2), 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 9px rgba(41, 136, 188, 0.2);
            box-shadow: 0 0 3px 3px rgba(41, 136, 188, 0.2), 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 9px rgba(41, 136, 188, 0.2);
  }
}
@keyframes breath {
  0% {
    background-color: rgba(244, 234, 222, 0.7);
    -webkit-box-shadow: 0 0 3px 3px rgba(41, 136, 188, 0.2), 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 9px rgba(41, 136, 188, 0.2);
            box-shadow: 0 0 3px 3px rgba(41, 136, 188, 0.2), 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 9px rgba(41, 136, 188, 0.2);
  }
  50% {
    background-color: rgba(244, 234, 222, 1);
    -webkit-box-shadow: 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 12px rgba(41, 136, 188, 0.2), 0 0 3px 18px rgba(41, 136, 188, 0.2);
            box-shadow: 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 12px rgba(41, 136, 188, 0.2), 0 0 3px 18px rgba(41, 136, 188, 0.2);
  }
  100% {
    background-color: rgba(244, 234, 222, 0.7);
    -webkit-box-shadow: 0 0 3px 3px rgba(41, 136, 188, 0.2), 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 9px rgba(41, 136, 188, 0.2);
            box-shadow: 0 0 3px 3px rgba(41, 136, 188, 0.2), 0 0 3px 6px rgba(41, 136, 188, 0.2), 0 0 3px 9px rgba(41, 136, 188, 0.2);
  }
}
@-webkit-keyframes breath-deeper {
  0% {
    background-color: rgba(255, 199, 56, 0.5);
    -webkit-box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
            box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
  }
  50% {
    background-color: rgba(255, 199, 56, 1);
    -webkit-box-shadow: 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 18px rgba(237, 140, 114, 0.2), 0 0 3px 24px rgba(237, 140, 114, 0.2), 0 0 3px 30px rgba(237, 140, 114, 0.2);
            box-shadow: 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 18px rgba(237, 140, 114, 0.2), 0 0 3px 24px rgba(237, 140, 114, 0.2), 0 0 3px 30px rgba(237, 140, 114, 0.2);
  }
  100% {
    background-color: rgba(255, 199, 56, 0.5);
    -webkit-box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
            box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
  }
}
@keyframes breath-deeper {
  0% {
    background-color: rgba(255, 199, 56, 0.5);
    -webkit-box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
            box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
  }
  50% {
    background-color: rgba(255, 199, 56, 1);
    -webkit-box-shadow: 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 18px rgba(237, 140, 114, 0.2), 0 0 3px 24px rgba(237, 140, 114, 0.2), 0 0 3px 30px rgba(237, 140, 114, 0.2);
            box-shadow: 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 18px rgba(237, 140, 114, 0.2), 0 0 3px 24px rgba(237, 140, 114, 0.2), 0 0 3px 30px rgba(237, 140, 114, 0.2);
  }
  100% {
    background-color: rgba(255, 199, 56, 0.5);
    -webkit-box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
            box-shadow: 0 0 3px 3px rgba(237, 140, 114, 0.2), 0 0 3px 6px rgba(237, 140, 114, 0.2), 0 0 3px 9px rgba(237, 140, 114, 0.2), 0 0 3px 12px rgba(237, 140, 114, 0.2), 0 0 3px 15px rgba(237, 140, 114, 0.2);
  }
}
@media (max-width: 425px) {
  div.marketing {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  a.brand-link {
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 0px;
    width: 120px;
  }
}
/* ================================ */
/* ==============SHARE============= */
/* ================================ */
.share {
  background-color: rgba(41, 136, 188, 0.2);
  margin-top: 1em;
  padding: 0.5em 0;
  text-align: center;
}
@media (min-width: 425px) {
  .share {
    font-size: 1.5em;
    margin: auto;
    margin-top: 1em;
    width: 60%;
  }
}
@media (max-width: 600px) and (orientation: landscape) {
  .share {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .share {
    width: 50%;
  }
}