{{ define "main" }}
  {{ $tag := .Page.Title }}
  {{ range .Data.Pages.GroupByDate "2006" }}
    <h1>{{ .Key }} - {{ $tag }}</h1>
    <section class="tags">
      <ul>
        {{ range .Pages }}
          <li class="post-link">
            <a href="{{ .Permalink }}">
              <div class="tagged-post">
                <div class="post-date">{{ .Date.Format "Jan 2" }}</div>
                {{ .Title }}
              </div>
            </a>
          </li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}